// Your variable overrides
$enable-shadows: true;
$enable-rounded: true;
$enable-gradients: true;

$primary:   #c87648;    
$secondary: #5839e1;
$info:       #c24bf1;
$danger:          #f132aa;
$warning:       #a12d76;
$success:        #22fa63;
         

